{% extends "base.html" %}

{% block content %}
  <h1>{{ patient.first_name }} {{ patient.last_name}}</h1>

  <p><strong>SSN: </strong> {{ patient.ssn }}</p>
  <p><strong>Gender: </strong> {{ patient.gender }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Prescriptions: </h4>

    {% for p in patient.prescription_set.all %}
      <hr>
      <p><strong>Doctor: </strong> {{p.doctor}}</p>
      <p><strong>Medication Details: </strong> {{p.desc}}</p>
    {% endfor %}
  </div>

{% endblock %}